/* CSS fourni dans le fichier de départ */

.container {
    width: 70%;
    margin: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.positive-variation {
    color: darkgreen;
    font-weight: bold;
}

.negative-variation {
    color: darkred;
    font-weight: bold;
}

th {
    border-bottom: 2px solid #dee2e6;
}
th,td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
.nomdelaction{
    text-align: left;
}


